html,body {
	background-color:	#8DC746 !important;
}
h1,h2,h3,h4,h5,h6 {
	color:	#ffffff;
	text-align:	center;
}

body > .container {
	max-width:		887px;
	padding:		0;
}
body.narrow > .container {
	max-width:		400px;
	padding:		0;
}

table.formtbl {
	width: 100%;
	
	td {
		color:	#ffffff;
	}
}

.space-up {
	margin-top: 15px;
}
.space {
	margin: 15px 0;
}

div.chart {
	margin:		2px 2px;
	width:		420px;
	display:	inline-block;
	height:		300px;
}