<div class="alert alert-success" ng-show="confirmed">Your account has been activated. Please login to continue.</div>

<table class="formtbl" id="login-form">
	<tbody>
		<tr class="row">
			<td style="width:100px;">
				<label for="email">Email</label>
			</td>
			<td>
				<input type="text" data-enter=".btn-login" class="form-control" data-require="true" id="email" ng-model="email" placeholder="Email">
			</td>
			<td style="width:50px;font-weight:bold;">
				@bio-rad.com
			</td>
		</tr>
		<tr class="row">
			<td style="width:100px;">
				<label for="password">Password</label>
			</td>
			<td colspan="2">
				<input type="password" data-enter=".btn-login" class="form-control" data-require="true" id="password" ng-model="password" placeholder="Password">
			</td>
		</tr>
	</tbody>
</table>

<center>
	<div class="btn btn-primary btn-login" ng-click="login()">Login</div>
</center>

<hr />

<center>
	<a class="btn btn-primary" href="#register">Create an account</a>
</center>